BASE_CALENDAR_URL=https://raw.githubusercontent.com/jfix/dechets/master/data/
LIGHT_URL=http://[your-bridge-ip]/api/[your-bridge-user-id]/lights/[light-identiifier]/state
###### COULEURS DECHETS - see https://www.developers.meethue.com/documentation/core-concepts
# brown-ish, orange
MENAGERES=5000
# yellow
RECYCLABLES=12750
VERRE=12750
# green
VEGETAUX=25500
# violet
ENCOMBRANTS=56100
